.expense-item {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  &__category-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 30px;

    &--restaurants {
      background-image: url('../../public/images/restaurant.png');
    }

    &--grocery {
      background-image: url('../../public/images/grocery.png');
    }
    &--traveling {
      background-image: url('../../public/images/traveling.png');
    }
    &--transport {
      background-image: url('../../public/images/transport.png');
    }
    &--medicine {
      background-image: url('../../public/images/medicine.png');
    }
    &--pets {
      background-image: url('../../public/images/pets.png');
    }
    &--rent {
      background-image: url('../../public/images/rent.png');
    }
    &--shopping {
      background-image: url('../../public/images/shopping.png');
    }
    &--other {
      background-image: url('../../public/images/other.png');
    }
  }

  &__info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  &__name {
    font-size: 18px;
  }

  &__price {
    float: right;
  }
}
